<!DOCTYPE html>
<html lang="ja">
    <head>
        <%# metaタグのインクルード。管理している場所は ./include/_meta.ejs 中身に関しては、meta.jsonで管理 %>
        <%- include('./include/_meta', { page: json['home'] }); %>
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <%- include('./components/header.ejs'); %>
        <div class="main">
            <div class="section1">
                <p>Webテンプレート</p>
            </div>
        </div>
        <%- include('./components/footer.ejs'); %>
        <script src="./js/script.js"></script>
    </body>
</html>
