<!DOCTYPE html>
<html lang="en">
    <%# headタグのインクルード。管理している場所は ./include/_head.ejs 中身に関しては、meta.jsonで管理 %>
    <%- include('./include/_head', { page: json['page1'] }); %>
    <body>
        <%- include('./components/header.ejs'); %>
        <p>hoge</p>
    </body>
</html>
