<!DOCTYPE html>
<html lang="ja">
    <head>
        <%# metaタグのインクルード。管理している場所は ./include/_meta.ejs 中身に関しては、meta.jsonで管理 %>
        <%- include('./include/_meta', { page: json['home'] }); %>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
    </head>
    <body>
        <%- include('./components/header.ejs'); %>
        <p>hoge</p>
    </body>
</html>
